{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% block title %}{{ 'general.administration'|trans}}{% endblock %}
{% block body %}
    <h1>Hello admin</h1>
{% endblock %}
