{% trans_default_domain 'App' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ gallery.title }}{% endblock %}
{% block body %}
    <div class="column row">
        <h1>{{ gallery.title }}</h1>
        <div class="row">
        {% for image in gallery.pictures %}
            <div class="small-12 medium-4 large-3 columns end">
                <div>{{ styled_image(image, 'project_thumb') }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}