{% trans_default_domain 'Front' %}
{% set classes = 'textblock' %}
{% if parameters.get('popup_block_name') == textblock.name %}
{% set popup = true %}
{% set classes = classes~' popup callout secondary' %}
{% endif %}
{% if truncated is defined and truncated == false %}
<div class="{{ classes }}"{% if popup is defined and popup == true %} data-closable{% endif %}>
    <div class="row">
        {% if textblock.picture is not null %}
        <div class="hide-for-small-only medium-4 columns">
            {{ styled_image(textblock.picture, 'project_full') }}
        </div>
        {% endif %}
        <div class="event-content{% if textblock.picture is not null %} small-12 medium-8{% endif %} columns">
            {{ textblock.content|raw }}
        </div>
    </div>
    {% if popup is defined and popup == true %}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
</div>
{% else %}
    {{ textblock.content|raw|striptags|truncate(150, true) }}
{% endif %}