{% trans_default_domain 'App' %}
{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <h1>{{ 'security.change-password'|trans }}</h1>
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
