{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}{{'general.administration'|trans}} | {{ "gallery.cropslideshoimages"|trans }}{% endblock %}
{% block body %}
    <h1>{{ "gallery.cropslideshowimages"|trans }}</h1>
    {{ form(form) }}
{% endblock %}
