.title-bar{
    width: 100%;
    position: fixed;
    z-index: 1001;
}
.top-bar{
    width: 100%;
    background-color: $white;
    border-bottom: 5px solid $primary-color;
    position: fixed;
    z-index: 1000;
    ul{ background-color: inherit; }
}

@include breakpoint(small only) {
    .top-bar{
        margin-top: 45px !important;
    }
}

@include breakpoint(medium up) {
    .homepage{
        .top-bar{
            margin-top: -200px;
        }
    }
}