.title-bar{
    width: 100%;
    position: fixed;
    z-index: 1001;
}
.top-bar{
    width: 100%;
    background-color: $white;
    border-bottom: 5px solid $primary-color;
    position: fixed;
    z-index: 1000;
    ul{ background-color: inherit; }
    .top-bar-title{
        a{
            background-color: $primary-color;
            display:inline-block;
            white-space:nowrap;
            img{
                height: 50px;
            }
        }
    }
    .main-nav{
        margin-top: 15px;
        font-family: $body-font-bold;
    }
    .social-networks{
        margin-top: 10px;
        font-size: 2rem;
        a{
            padding: 8px;
        }
    }
}

@include breakpoint(medium down) {
    .top-bar{
        margin-top: 45px !important;
    }
}

@include breakpoint(large up) {
    .homepage{
        .top-bar{
            margin-top: -200px;
        }
    }
}

@include breakpoint(large up) {
    .top-bar{
        .main-nav{
            font-size: 1.3rem;
            margin-top: 11px;
        }
        .social-networks{
            margin-top: 8px;
            font-size: 2.2rem;
        }
    }
}