main{
    padding-top: 100px;
}

main{
    li{
        margin-bottom: 1rem;
    }
}

// Homepage //
.homepage{
    section{
        position: relative;
        .centercontent{
            @include absolute-center;
        }
    }
    main{
        padding-top: 0;
    }
    .hpcontent{
        h2, p{
            margin-bottom: 2rem;
        }
    }
    .presentation-content{
        position: relative;
        z-index: 100;
        background-color: $body-background;
        padding:7vh 50px 20vh 50px;
    }
    a.button{
        font-family: $title-font;
        font-size: 1.2em;
    }
    .repertoire{
        padding: 10vh 0 10vh 0;
        background-color: $secondary-color;
        color: $white;
        a.button{
            color: $secondary-color;
            background-color: $white;
        }
    }
    .contact{
        padding: 10vh 0 10vh 0;
        background-color: $third-color;
        color: $white;
        a.button{
            color: $third-color;
            background-color: $white;
        }
    }
    .medias{
        padding: 7vh 0 7vh 0;
    }
}
.hp-photos{
    .imagezone{
        padding: 0 0 1.3rem 0;
    }
}
// Popup on homepage
.callout{
    padding: 5vh 2vh;
    border: none;
    border-radius: 25px;
    -webkit-box-shadow: 3px 7px 19px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 7px 19px 3px rgba(0,0,0,0.26);
    box-shadow: 3px 7px 19px 3px rgba(0,0,0,0.26);
    &.secondary{
        background-color: rgba(255,255,255,0.9);
    }
    &.popup{
        z-index: 900;
        position: absolute;
        width: 95%;
        @include absolute-center;
    }
}
.main-hp{
    background-color: $primary-color;
    .main-hp-menu{
        a{color: $white;}
        font-size: 1.2rem;
        font-family: $title-font;
        margin-bottom: 4vh;
        li{
            font-size: inherit;
        }
        .social-networks{
            font-size: 2.4rem;
            position: relative;
            top: -5px;
            li{
                font-size: inherit;
                margin-bottom: 0;
            }
        }
    }
    .nowrap{
        a{
            white-space: nowrap;
        }
    }
    h1{color: $white;}
    height: 100vh;
    position: relative;
    .main-logo{
        margin-bottom: 6vh;
    }
    .main-hp-content{
        .main-hp-slogan{
            font-size: 1.3rem;
        }
    }
    
    .main-hp-scroll-link{
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
        a{
            color: #fff;
            text-align: center;
            font-size: 1.5rem;
            font-family: $body-font-bold;
            span{
                display: block;
                font-size: 2rem;
            }
        }
    }
}

// Répertoire //
.rep{
    h3{
        line-height: 1.1em;
    }
    p{
        line-height: 1.3em;
    }
}
.oldrep{
    min-height: 12em;
    h4{
        line-height: 1.1em;
    }
    p{
        font-size: 1rem;
        line-height: 1.3rem;
    }
}

// Agenda + Détail //
.date{
    @include primary-bg;
    margin-right: 30px;
    font-family: $title-font;
    font-size: 1.125rem;
}

.agenda{
    .pastevent{
        margin-bottom: 5px;
        a{
            display: inline-block;
        }
    }
}
.concert-detail{
    
    .view-more-link{
        font-family: $title-font;
    }
    .summary{
        margin-bottom: 0;
    }
    .location{
        font-style: italic;
        margin: 0 0 10px 0;
    }
}
.concert-detail.spacedown{
    margin-bottom: 1.8rem;
}
.event{
    .event-images{
        margin-bottom: 1rem;
    }
    .all-images-link{
        a{
            display: inline-block;
            background-color: $primary-color;
            color: $white;
            position: relative;
            .caption{
                @include vertical-center;
                left: 0;
                font-family: $title-font;
                text-align: center;
            }
        }
    }
}

// Membres //
.chef{
    margin-bottom: 1rem;
}
.membre{
    position: relative;
    overflow: hidden;
    h3{
        position: absolute;
        top: 0;
        left: 15px;
        color: $white;
        padding: 0 10px 0 10px;
        z-index: 50;
    }
    .picture{
        position: relative;
        .shader{
            position: absolute;
            top: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(black, transparent);
            opacity: 0.6;
        }
        img{
            width: 100%;
        }
    }
    .triangle{
        display: none;
    }
    
    .voice{
        position: absolute;
        font-size: 1.1em;
        bottom: 0;
        color: $white;
        padding: 0 10px 0 10px;
        z-index: 50;
    }
    .sopr{
        background-color: $primary-color;
    }
    .alto{
        background-color: $secondary-color;
    }
    .teno{
        background-color: $third-color;
    }
    .bass{
        background-color: $fourth-color;
    }
}

// Galleries //
.galleryfront{
    position: relative;
    .imageframe{
        position: absolute;
        z-index: 50;
    }
    .galleryfront{
        margin: 6% 0 0 6%;
        width: 85%;
    }
}
.photos-page{
    .gallery-intro{
        height: 4.5rem;
    }
    h2{
        font-size: 1.5rem;
        line-height: 1em;
        margin-bottom: 0;
    }
    .dates{
        font-size: 1.2rem;
        color: $dark-gray;
        margin:0 0 15px 0;
        font-weight: bold;
    }
}
.gallery-detail{
    .dates{
        font-size: 1.2rem;
        color: $dark-gray;
        margin:0 0 15px 0;
        font-weight: bold;
    }
}

// Media queries //
@include breakpoint(medium up) {
    .main-hp{
        .main-hp-menu{
            font-size: 1.5rem;
        }
    }
    
    .rep{
        min-height: 13em;
    }
    .date{
        font-size: 1.5625rem;
    }
    .main-hp{
        .main-logo{
            img{
                max-height: 40vh;
            }
        }
    }
    .hp-photos{
        .imagezone{
            padding: 0 18% 1rem 18%;
        }
    }
    .membre{
        .voice{
            bottom: 5px;
        }
        .triangle{
            display: block;
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 0 solid transparent;
            border-right: 11rem solid transparent;
        }
        .triangle-sopr{
            border-bottom: 60px solid $primary-color;
        }
        .triangle-alto{
            border-bottom: 60px solid $secondary-color;
        }
        .triangle-teno{
            border-bottom: 60px solid $third-color;
        }
        .triangle-bass{
            border-bottom: 60px solid $fourth-color;
        }
        .sopr, .alto, .teno, .bass{
            background-color: transparent;
        }
    }
}

@include breakpoint(large up) {
    .main-hp{
        .main-hp-menu{
            font-size: 1.7rem;
        }
    }
    p{
        font-size: 1.2rem;
    }
    main{
        li{
            font-size: 1.2rem;
        }
    }
    .homepage{
        p{
            font-size: 1.5rem;
        }
    }
    .event{
        .all-images-link{
            a{
                .caption{
                    font-size: 1.7rem;
                    line-height: 2rem;
                }
            }
        }
    }
    .callout{
        &.popup{
            position: absolute;
            width: 50%;
            transform: rotate(-5deg) translate(-50%, -50%);
        }
    }
}

@include breakpoint(xlarge up) {
    .main-hp{
        .main-hp-content{
            .main-hp-slogan{
                font-size: 2.1rem;
            }
        }
    }
}

.galleryfront{
    position:relative;
    .galleryfront-1{
        position: relative;
        -ms-transform: rotate(-5deg); /* IE 9 */
        -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
        transform: rotate(-5deg);
        left: -10px;
    }
    .galleryfront-2{
        position: absolute;
        top: 0;
        left:0;
    }
    .galleryfront-3{
        position: absolute;
        top: 0;
        left:10px;
        -ms-transform: rotate(5deg); /* IE 9 */
        -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
        transform: rotate(5deg);
    }
}