main{
    padding-top: 80px;
}
.homepage{
    main{
        padding-top: 0;
    }
    .main-hp-scroll-link{
        a{
            color: #fff;
            text-align: center;
            font-size: 1.5rem;
            span{
                display: block;
                font-size: 2rem;
            }
        }
    }
}
.main-hp{
    background-color: $primary-color;
    .main-hp-menu{
        a{color: $white;}
    }
    h1{color: $white;}
    height: 100vh;
    position: relative;
    .main-hp-content{
        @include absolute-center;
    }
}

.galleryfront{
    position:relative;
    .galleryfront-1{
        position: relative;
        -ms-transform: rotate(-5deg); /* IE 9 */
        -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
        transform: rotate(-5deg);
        left: -10px;
    }
    .galleryfront-2{
        position: absolute;
        top: 0;
        left:0;
    }
    .galleryfront-3{
        position: absolute;
        top: 0;
        left:10px;
        -ms-transform: rotate(5deg); /* IE 9 */
        -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
        transform: rotate(5deg);
    }
}