@for $index from 1 through 6 {
  h#{$index}{
    font-family: $title-font;
  }
}

a{
    outline: 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
}


// Mixins //

@mixin primary-bg{
    background-color: $primary-color;
    display: inline-block;
    padding: 0px 5px;
    color: $white;
}