body {
  padding-top: 50px;
}

.listtable {
    margin-top: 20px;
}

.gallery img{
    border-radius: 10px;
}

.grid{
    margin-top: 20px;
}

.image-element{
    position: relative;
    .imgremove, .imgdrag{
        position: absolute;
        z-index: 500;
    }
    .thumbnail{
        position: relative;
    }
    .imgdrag{
        font-size: 2rem;
        top: 7px;
        left: 15px;
    }
    .openform, .imgbutton{
        width: 100%;
        margin-top: 5px;
    }
    .imgremove {
        font-size: 2.5rem;
        top: 5px;
        right: 15px;
        color: @brand-danger;
        &:hover, &:active, &:visited, &:focus{
            text-decoration: none;
        }
    }
    .alt-title{
        visibility: hidden;
        position: absolute;
        z-index: 1000;
        padding: 5px;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        background-color: rgba(55,55,55,0.7);
        .control-label{
            color: #fff;
        }
        .closeform{
            position: absolute;
            top:5px;
            right:5px;
            color: #fff;
            &:hover, &:active, &:visited, &:focus{
                text-decoration: none;
            }
        }
    }
}